.banner-div img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.banner-div h2 {
    /* padding: 40px; */
}

.banner-div div {
    margin: 30px;
}

.banner-div {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: start;
}