.nav-bar {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    /* padding: 50px; */
    color: rgb(10, 109, 238);
    margin-left: 80px;
    /* padding: 15px; */
}

.nav-bar2 {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    /* padding: 50px; */
    color: rgb(94, 133, 185);
    /* margin: auto; */
    margin-left: 80px;
    /* padding: 15px; */
}

/* .nav-div {
    display: flex;
    justify-content: space-around;
} */

/* className=" m-auto fw-bold p-2 nav-bar" */